body {
    background-color: #171717; 
    color: #ffffff; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
    margin: 0;
    padding: 0;
  }
  #username-form, #room-form {
    text-align: center;
    margin-top: 20%;
  }
    
  .container {
    max-width: 500px;
    max-height: 500px;
    margin: 50px auto;
    background-color: #1e1c1c;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
  label {
    color: #a327d0;
  }
  input[type="text"], button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin: 5px;
    background-color: #363636;
    color: #ffffff;
  }
  input[type="text"] {
    width: 200px;
  }
  button {
    background-color: #a327d0;
    cursor: pointer;
  }
  #chat {
    display: none;
  }
  #messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #messages li {
    background-color: #363636;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
  
  #form-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
  box-sizing: border-box;
  z-index: 999;  /* Ensure it stays above other elements */
}
.chat-container {
 
  height: 70vh; 
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #a327d0;
  border-radius: 10px;
  background-color: #1e1e1e;
  display: none; /* Hidden initially */
  overflow-y: auto; /* Enable vertical scrolling */

}


#messages {
  max-height: calc(100% - 60px); /* Adjust to fit the container, leave space for form */
  overflow-y: auto; /* Enable vertical scrolling for messages */
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* Style for the form elements */
#form {
  display: flex;
  justify-content: space-between;
  width: -moz-available;
}

#input {
  flex: 1;
  padding: 8px; /* Adjust as needed */
  font-size: 16px; /* Adjust as needed */
  border: none;
  border-radius: 5px;
  margin-right: 10px; /* Adjust as needed */
 bottom:0;

}
  input[type="txt"] {
    width: 98%;
   
  }

  #sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.txt{
  font-size: 18px;
}

@media screen and (max-width: 446px) {
 .txt{
  font-size: 20px;
 }
 
}
  #sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  #sidebar a:hover {
    color: #f1f1f1;
  }
  #sidebar .close-btn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 40px;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  ::placeholder {
   color: #a327d0;
font-family: Arial, sans-serif;
font-weight: bold;
}
#sidebar.draggable {
  transition: none;
}

#sidebar.draggable:hover {
  cursor: ew-resize;
}

#main {
  transition: margin-left 0.5s;
}
@media screen and (min-width: 564px) {
  #sidebar {
    width: 250px;
  }

  #main {
    margin-left: 250px;
  }
}


@media screen and (max-width: 306px) {
  input[type="text"] {
    width: 150px;
  }
}